<section id="infoAviso">
  <div id="infoContainer">
    <div class="row">
      <col-12 class="text-center"><h2><b><%= session.Nombre %></b></h2></col-12>
    </div>
    <div class="row">
       <ul id="list1"></ul> 
    </div>
    <div class="row text-center"><col-12 class="text-center"><button class="btn btn-secondary" style="width: 7em;" id="sali">Salir</button></col-12></div>
  </div>
</section>