div {
    border: 1px solid black;
}
a {
    text-decoration: none;
}

#cabecera {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

#izq {
    display: flex;
}

#img {
    
}

#txt {
    margin-left: 7px;
    display: flex;
    flex-direction: column;
}

#usuario {
    margin-bottom: 7px;
    text-align: center;
    padding: 0.00em 2.5em;
}

.rojo {
    color: red;
}

#desconectar {
    color: black;
    border: 1px solid black;
    background-color: lightgray;
    padding: 0.1em 0.5em;
    height: 100%;
    text-align: center;
}


